<div id="big-wrap">

<div id="flex-div" class="petit-wrap">

    
    <h2>Discover Timeline<span>CREATOR</span></h2>
    
        <p>TimelineCREATOR is visual interface that allows you to create the timeline you want.
           
            A timeline is a simple tool but can be very powerful for your personal and professional use.
            
            TimelineCREATOR will help you generate the perfect timeline to manage your projects more smoothly.</p>


        <span id='timeLine-view'></span>


    </div>

    <div class="list-type1 petit-wrap">
    <h2>How does it work?</h2>
        <ol>
            <li>Gather and sort data by earliest dates</li>
            <li> Preview your timeline</li>
            <li> Edit it as much as you want </li>
            <li> Share it !</li>
            <li><a href="/user/login">Don't wait and create your account</a></li>
        </ol>
    </div>

</div>