<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>

    <link rel="stylesheet" href="/stylesheets/style-01.css">
    {{#each stylesheets}}
    <link rel="stylesheet" href="/stylesheets/{{this}}">
    {{/each}}

    {{#each scripts}}
    <script src="/scripts/{{this}}" type="module"></script>
    {{/each}}
</head>

<body>
    <div id="wrapper">
        <nav>
            <h1>Timeline<span>Creator</span></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Sign Up</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
        <aside>
            <h2>Edit The Line</h2>
            <div class="element">
                <input type="text" value="Input type text">
            </div>
            <div class="element">
                <input type="text" placeholder="With a placeholder">
            </div>
            <div class="element">
                <label for="text-3" class="inline">With label</label><input id="text-3" type="text">
            </div>
            <div class="element">
                <select name="" id="">
                    <option value="">Test Uno</option>
                    <option value="">Test Dos</option>
                    <option value="">Test Tres</option>
                </select>
            </div>
            <div class="element">
                <textarea name="" id=""></textarea>
            </div>
            <div class="flex">
                <div class="half">
                    <div class="element">
                        <input type="checkbox" name="" id="testCheck"><label for="testCheck">Checkbox</label>
                    </div>
                    <div class="element">
                        <input type="checkbox" name="" id="testCheck2" checked><label for="testCheck2">Checkbox</label>
                    </div>
                    <div class="element">
                        <input type="checkbox" name="" id="testCheck3"><label for="testCheck3">Checkbox</label>
                    </div>
                </div>
                <div class="half">
                    <div class="element">
                        <p><input type="radio" name="zbu" id="testRadio01"><label for="testRadio01">Radio</label></p>
                        <p><input type="radio" name="zbu" id="testRadio02"><label for="testRadio02">Radio</label></p>
                        <p><input type="radio" name="zbu" id="testRadio03"><label for="testRadio03">Radio</label></p>
                    </div>
                </div>
            </div>
            <button>Button</button>
        </aside>
        <section>
            <h2>Preview</h2>
            <div class="containt">
                <div class="bars">
                    <div class="bar yellow" style="grid-row-start: 1; grid-row-end: 14">
                        <div class="content">
                            <div class="head">
                                <h3>FrontEnd</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar orange" style="grid-row-start: 14; grid-row-end: 22">
                        <div class="content">
                            <div class="head">
                                <h3>FrontEnd Project</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar red" style="grid-row-start: 22; grid-row-end: 37">
                        <div class="content">
                            <div class="head">
                                <h3>BackEnd Module</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar orange" style="grid-row-start: 37; grid-row-end: 45">
                        <div class="content">
                            <div class="head">
                                <h3>BackEnd Project</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar green" style="grid-row-start: 45; grid-row-end: 56">
                        <div class="content">
                            <div class="head">
                                <h3>React Module</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar orange" style="grid-row-start: 56; grid-row-end: 68">
                        <div class="content">
                            <div class="head">
                                <h3>React Project</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar pink" style="grid-row-start: 1; grid-row-end: 34">
                        <div class="content">
                            <div class="head">
                                <h3>Franck is zen</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar pink" style="grid-row-start: 43; grid-row-end: 68">
                        <div class="content">
                            <div class="head">
                                <h3>Franck is zen</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                    <div class="bar red" style="grid-row-start: 56; grid-row-end: 75">
                        <div class="content">
                            <div class="head">
                                <h3>Finding a job</h3>
                            </div>
                            <div class="icon text-yellow">T</div>
                            <h4>Category</h4>
                            <p>Test of text content</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>