<form action="/" method="post">
    {{#if errorMessage}}<p class="error">{{errorMessage}}</p>{{/if}}
    <div class="element">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="woohoo@domain.com">
    </div>
    <div class="element">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <button>Log me in !! LOG ME IN !!!!</button>
</form>