// Fonts used
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');

// Webpages layout colors
$color1: #252359;
$color2: #2a2773;
$color3: #273859;
$color4: #f2e1ac;
$color5: #d9145c;

// Category colors
$bar-red: red;
$bar-yellow: yellow;
$bar-green: green;
$bar-blue: blue;
