{{!-- 

Collaborators 

// new, form, editing //

--}}

<div class="miniwrap">
    <form class="main-content large" action="/timeline" method="POST">
        <h2>Add a new timeline</h2>
        <div class="element">
            <label class="inline" for="title">Title</label>
            <input id="title" type="text" name="title" placeholder="Web Dev Bootcamp">
        </div>
        <div class="element">
            <label class="inline" for="image">Image</label>
            <input id="image" type="text" name="image">
        </div>
        <div class="element">
            <label class="inline" for="scope">Scope</label>
            <select id="scope" name="scope">
                <option value="public">Public</option>
                <option value="private">Private</option>
            </select>
        </div>
        <div class="element">
            <label class="inline" for="template">Template</label>
            <select id="template" name="template">
                <option value="vertical_gantt">Vertical Gantt</option>
                <option value="vertical_flat">Vertical Flat</option>
                <option value="horizontal"> Horizontal</option>
            </select>
        </div>
        <div class="element text">
            <label class="inline" for="description">Description</label>
            <textarea id="description" name="description" placeholder="Add your description here"></textarea>
        </div>
        <button type="text">Create the timeline</button>
    </form>
</div>